.about{
    background-color:#16213E;
    padding: 60px;
    color:white;
    justify-content: center;
}
.AboutTitle{
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #0F3460;
    text-decoration: underline;
  
    
}
.Aboutdescription{
    margin-top: 5px;
    word-spacing: 2.5px;
}
.skills{
    background-color: #16213E;
    padding: 60px;
}
.SkillsTitle{
    text-align: center;
    padding: 8px;
    text-decoration: underline;
    background-color: #0F3460;
    color: white;
}
.skillscard{
    width: 180px;
    height: 50px;
    
    text-align: center;
   
}
.skillsbox{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 10px;
    box-shadow: 15px;
    margin-left: auto;
}
.cardcontent{
    color: black;
}
.Project{
    background-color: #16213E;
    padding: 60px;
}
.ProjectTitle{
    text-align: center;
    padding: 8px;
    text-decoration: underline;
    background-color: #0F3460;
    color: white;
}
.projectCard{
    margin-top: 10px;
}
.contact{
    background-color:#D8B9C3;
    padding: 60px;
    
}
.Contactform{
    margin-top: 40px;
}
.Container1{
    margin:10px;
}
.Container2{
    margin:10px;
}
.Container3{
    margin:10px;
}
.contactnumber{
    width: 240px;
    height: 80px;
    margin-left: 60px;
    text-align:justify
    
}
.cardcontent{
    font-size: 14px;
    font-weight: 900;
     background-color: antiquewhite;
}
.cardnumber{
    font-size: 10px;
    font-weight: 900;
}
.mycontact{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 20px;
}
.footerContainer{
    background-color:#1259f1 ;
    position: relative;
   }
/* .iconbutton{
    position: absolute;
    right: 5;
    top:15;
    color:yellow;
} */
.footertext{
    text-align: center;
 
    margin-bottom: 2px;
}
.drawer{
   width: 250px;
   height: 100vh; 
}
.drawerContainer{
    width: 250px;
    height: 100vh; 
    background-color:#1A1A2E;
}
 .Buttons{
    text-decoration: none;
    color:white;
 }


